<div class="home-body">
  <div class="row">
    <div class="col-lg-6">
      <div>
        <search-input-field label="Source" paddingLeft="33px"></search-input-field>
      </div>
    </div>
    <div class="col-lg-6">
      <div>
        <search-input-field label="Destination" paddingLeft="67px"></search-input-field>
      </div>
    </div>
  </div>
  <div class="row" style="float: right;margin-top:3px">
    <button type="button" name="" id="" class="btn btn-primary" (click)="addData()">Add data</button>
  </div>
</div>
<ng-template search-res-component-manager></ng-template>