<div class="container app-algn">
  <form [formGroup]="passwordForm">

    <div class="form-row">
      <div class="form-group">
        <label for="emailId">Email ID</label>
        <input type="text" formControlName="mailId" id="emailId" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" formControlName="password" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-row col-md-offset-2">
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="setPassword(passwordForm)">Submit</button>
      </div>
    </div>

  </form>

</div>